/* GLAVNI KONTEJNER - POVEĆAN */
.popup-brutalist-calendar-final {
  background-color: transparent !important;
  border: none !important;
  display: flex !important;
  flex-direction: row !important;
  transform: scale(1.1); /* Povećavamo kompletan datum za 10% */
}

/* DARK MODE ZA TIME SECTION - OVO TI JE BILO BIJELO */
.dark .react-datepicker__time-container,
.dark .react-datepicker__time-box,
.dark .react-datepicker__time-list {
  background-color: #18181b !important; /* Crna pozadina za dark mode */
  color: white !important;
}

.dark .react-datepicker__time{
  background-color: transparent !important;
}

/* LINIJA RAZDVAJANJA */
.react-datepicker__time-container {
  border-left: 3px solid black !important;
  width: 120px !important;
}

.dark .react-datepicker__time-container {
  border-left-color: #3f3f46 !important;
}
.react-datepicker__header{
  background-color: none !important;
}


/* TEXT BOJE U DARK MODU */
.dark .react-datepicker__day,
.dark .react-datepicker__day-name,
.dark .react-datepicker__current-month,
.dark .react-datepicker-time__header,
.dark .react-datepicker__time-list-item {
  color: white !important;
}

/* POVEĆANI DANI */
.react-datepicker__day, 
.react-datepicker__day-name {
  width: 2.8rem !important;
  line-height: 2.8rem !important;
  font-weight: 800 !important;
  margin: 0.2rem !important;
  border-radius: 10px !important;
}

/* TIME LISTA - SREĐENA */
.react-datepicker__time-list-item {
  height: 40px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  font-weight: 800 !important;
  transition: all 0.2s;
    border-radius: 10px !important;

}

.react-datepicker__time-list-item:hover {
  background-color: #EF9D39 !important;
  color: black !important;
}

/* SELEKTOVANO (Narandžasto sa tvojih slika) */
.react-datepicker__day--selected,
.react-datepicker__time-list-item--selected {
  background-color: #EF9D39 !important;
  color: black !important;
  border: 2px solid black !important;
  box-shadow: 3px 3px 0px 0px black !important;
}
/* VANJSKI DANI (31.3 u Aprilu) */
.react-datepicker__day--outside-month {
  color: #ccc !important;
  opacity: 0.8 !important;
  pointer-events: auto !important;
}

.react-datepicker__day--disabled{
  color: #ccc !important;
  opacity: 0.5 !important;
  pointer-events: none !important;
}

.react-datepicker__header{
  background-color: transparent !important;

}

/* SCROLLBAR ZA DARK MODE */
.react-datepicker__time-list::-webkit-scrollbar {
  width: 5px;
}
.react-datepicker__time-list::-webkit-scrollbar-thumb {
  background: #3f3f46;
  border-radius: 10px;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list {
  margin-right: 10px !important; /* Dodaj marginu desno */
}
